///* Positionnement des flèches à l'extérieur des 80% */
//::ng-deep .splide__arrows {
//  display: flex;
//  justify-content: space-between;
//  position: absolute;
//  width: 125%; /* Plus large que le carousel (80% * 1.25 = 100%) */
//  left: -12.5%; /* Centre les flèches par rapport au container */
//  top: 50%;
//  transform: translateY(-50%);
//  pointer-events: none;
//}
//
//::ng-deep .splide__arrow {
//  pointer-events: auto;
//  background: rgba(255, 255, 255, 0.05) !important;
//  border: 1px solid rgba(255, 255, 255, 0.1) !important;
//  width: 50px;
//  height: 50px;
//  display: flex !important;
//  align-items: center;
//  justify-content: center;
//  transition: all 0.3s ease;
//}
//
//::ng-deep .splide__arrow svg {
//  fill: white;
//  width: 24px;
//  height: 24px;
//}
//
///* --- ÉTAT DISABLED (Quand on ne peut plus scroller) --- */
//::ng-deep .splide__arrow:disabled,
//::ng-deep .splide__arrow.is-disabled {
//  opacity: 0.1; /* Très transparent */
//  filter: grayscale(100%);
//  border-color: transparent !important;
//}
//
///* Effet au survol des flèches actives */
//::ng-deep .splide__arrow:not(:disabled):hover {
//  background: rgba(255, 255, 255, 0.2) !important;
//  transform: scale(1.1);
//}
