<form class="pt-5 h-full flex w-full">
  <div class="flex md:flex-row md:items-start p-1 justify-end  items-center flex-col w-full">

    <div class="flex flex-col justify-center items-center self-stretch flex-2 gap-6 flex-2">

      <div class="flex md:flex-row flex-col  items-center gap-5">
        <input-text [formField]="BookDetailsForm.title" [label]="'Titre'" [submitted]="hasSubmitted"></input-text>
        <input-mask [formField]="BookDetailsForm.isbn"  [label]="'ISBN'" [submitted]="hasSubmitted" [inputMask]="'000-000-000-000-A'"></input-mask>
      </div>

      <div class="flex md:flex-row flex-col  items-center gap-5">
<!--        <input-text [formField]="BookDetailsForm.title" [label]="'Titre'" [submitted]="hasSubmitted"></input-text>-->
<!--        <input-text [formField]="BookDetailsForm.isbn" [label]="'ISBN'" [submitted]="hasSubmitted"></input-text>-->
      </div>

      </div>


  </div>
</form>
