<form>
  <div class="py-5 px-2 w-full flex  flex-col md:flex-row h-80 md:h-auto ">
    <div class="flex md:flex-1 flex-col border-b-2 md:border-b-0 md:border-r-2 border-third md:h-75  py-4 md:px-3">
      <p-multi-select
        [formField]="BookAuthorForm.authors"
        [emptyFilterMessage]="'Aucun auteur trouvé'"
        [emptyMessage]="'Aucun auteur trouvé'"
        [filter]="true"
        [maxSelectedLabels]="0"
        [options]="authors()"
        [placeholder]="'Choisissez un auteur'"
        [selectedItemsLabel]="'{0} auteurs sélectionnés'"
        [showToggleAll]="false"
        [pt]="ClassicSelectPt.pt"
        [autoOptionFocus]="false"
        [autofocusFilter]="false"
        dataKey="name"
        name="authors"
        optionLabel="name"></p-multi-select>
      @if (hasSubmitted && (!BookAuthorModel().authors || BookAuthorModel().authors.length === 0)) {
        <div class="text-l-red text-sm mt-2">
          Sélectionnez au moins un auteur
        </div>
      }
    </div>
    <div class="flex-1   ">
      <div
        class=" border-secondary  min-h-20 max-h-70   overflow-y-auto flex flex-wrap gap-3 px-3 py-4 items-start">
        @for (author of BookAuthorModel().authors; track author) {
          <div class="bg-primary rounded-xl text-secondary px-4 py-2 flex items-center gap-2">
            <p class="m-0 leading-none">{{ author.name }}</p>
            <i
              class="pi pi-times text-xs cursor-pointer leading-none"
              (click)="removeAuthor(author)"></i>
          </div>
        }
      </div>
    </div>
  </div>
</form>
