<form class="pt-5 flex w-full">
  <div class="h-full flex flex-col justify-center flex-2 gap-4 w-full">
    <input-area [formField]="BookMarketingForm.summary" [label]="'Résumé'" [submitted]="hasSubmitted"></input-area>
    <input-area [formField]="BookMarketingForm.marketing" [label]="'Marketing'" [submitted]="hasSubmitted"></input-area>
    <input-area [formField]="BookMarketingForm.hook" [label]="'Hook'" [submitted]="hasSubmitted"></input-area>
    <input-area [formField]="BookMarketingForm.note" [label]="'Note'" [submitted]="hasSubmitted"></input-area>
  </div>
</form>
